<div class="row">
    <div class="col-sm-9">
        <p class="input-group z-index-0">
            <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.selectedDate" is-open="$ctrl.datePickerPopup.opened" close-text="Close" show-button-bar="false"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </p>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-default button-max-width" ng-click="$ctrl.today()">Today</button>
    </div>
</div>
