<div class="row">
    <div class="col-md-9 col-sm-8">
        <p class="input-group z-index-1">
            <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.selectedDate" is-open="$ctrl.datePickerPopup.opened" close-text="Close" show-button-bar="false" required ng-disabled="$ctrl.editing"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.open()" ng-disabled="$ctrl.editing"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </p>
    </div>
    <div class="col-md-3 col-sm-4">
        <button type="button" class="btn btn-sm btn-default button-max-width" ng-click="$ctrl.today()" ng-disabled="$ctrl.editing">Today</button>
    </div>
</div>
