body {
    background-color: #f2f2f2;
}

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    background-color: #303F9F;
    z-index: 2;
    box-shadow: 3px 3px 9px #0c0c0c;
}

    .app-header h2 {
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 20px;
    }

.menu-button {
    margin: 20px;
    background-color: #303F9F;
    border-color: #1DE9B6;
    color: #1DE9B6;
}

    .menu-button:hover, .menu-button:active, .menu-button:active:focus, .menu-button:focus {
        background-color: #A7FFEB;
        border-color: #1DE9B6;
        color: #1DE9B6;
    }

.menu-side-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-top: 90px;
    background-color: #3F51B5;
    box-shadow: 2px 2px 7px #0c0c0c;
}

    .menu-side-nav a {
        width: 250px;
        display: block;
        text-align: left;
        color: #1DE9B6;
        font-size: medium;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    }

        .menu-side-nav a:hover {
            background-color: #7986CB;
        }

.menu-icon {
    margin-left: 5%;
    margin-right: 5%;
}

.ft-form {
    padding: 15px;
    background-color: white;
    box-shadow: 1px 1px 5px #BDBDBD;
    position: relative;
    top: 100px;
    z-index: 0;
}

.btn-primary {
    background-color: #1DE9B6;
    border-color: #1DE9B6;
    color: black;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
        background-color: #A7FFEB;
        border-color: #A7FFEB;
        color: #303F9F;
    }

.button-max-width {
    width: 100%;
}

.z-index-0 {
    z-index: 1;
}
