body {
    background-color: #f2f2f2;
}
/*HEADER*/
.app-header {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    background-color: #303F9F;
    z-index: 2;
    box-shadow: 0px 0px 20px #000000;
}

    .app-header h2 {
        display: inline-block;
        color: white;
        margin-left: 86.5%;
    }


.menu-button {
    margin: 20px;
    background-color: #303F9F;
    border-color: #A7FFEB;
    color: #A7FFEB;
}

    .menu-button:hover, .menu-button:active, .menu-button:active:focus, .menu-button:focus {
        background-color: #26A69A;
        border-color: #A7FFEB;
        color: #A7FFEB;
    }
/*SIDE-NAV MENU*/
.side-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 90px;
    background-color: #3F51B5;
    box-shadow: 0px 0px 15px black;
}

    .side-nav a {
        display: block;
        text-align: left;
        color: #A7FFEB;
        text-decoration-style: none;
        text-decoration-color: #FFFFFF;
        font-size: medium;
        width: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    }

.menu-icon {
    margin-left: 5%;
    margin-right: 5%;
}
/*FORM*/
.form-inline {
    background-color: white;
    width: 65%;
    margin-left: 17.5%;
    min-height: 1000px;
    z-index: -1;
    box-shadow: 0px 0px 10px grey;
}

.form-header {
    margin-top: 8%;
}

.remove-padding-left {
    padding-left: 0;
}
