body {
    background-color: #f2f2f2;
}
/*HEADER*/
.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    background-color: #303F9F;
    z-index: 2;
    box-shadow: 3px 3px 9px #0c0c0c;
}

    .app-header h2 {
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 20px;
    }


.menu-button {
    margin: 20px;
    background-color: #303F9F;
    border-color: #A7FFEB;
    color: #A7FFEB;
}

    .menu-button:hover, .menu-button:active, .menu-button:active:focus, .menu-button:focus {
        background-color: #26A69A;
        border-color: #A7FFEB;
        color: #A7FFEB;
    }
/*SIDE-NAV MENU*/
.side-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 90px;
    background-color: #3F51B5;
    box-shadow: 2px 2px 7px #0c0c0c;
}

    .side-nav a {
        display: block;
        text-align: left;
        color: #A7FFEB;
        text-decoration-color: #FFFFFF;
        font-size: medium;
        width: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    }

.menu-icon {
    margin-left: 5%;
    margin-right: 5%;
}
/*FORM*/
.form-inline {
    background-color: white;
    width: 65%;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 17.5%;
    min-height: 1000px;
    box-shadow: 1px 1px 5px #BDBDBD;
}

.form-header {
    margin-top: 1%;
}

.margin-top-20 {
    margin-top: 20px;
}
